# GEOG 5160 6160 Lab 01

Import packages. Note the use of `as` to use a alias for the package

In [2]:
import pandas as pd

We're using pandas `read_csv` function here to get the data in. An alternative is to use the built in CSV library

In [3]:
penguins = pd.read_csv("../datafiles/penguins.csv")

Get size of data

In [32]:
penguins.shape

(344, 8)

Use `head` to get the first few lines

In [4]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

Use `describe` to get summary statistics

In [5]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

Access columns

In [6]:
penguins['flipper_length_mm']

0      181.0
1      186.0
2      195.0
3        NaN
4      193.0
       ...
339    207.0
340    202.0
341    193.0
342    210.0
343    198.0
Name: flipper_length_mm, Length: 344, dtype: float64

In [ ]:
Use of dropna()

In [8]:
penguins2 = penguins.dropna()
penguins2['flipper_length_mm']

0      181.0
1      186.0
2      195.0
4      193.0
5      190.0
       ...
339    207.0
340    202.0
341    193.0
342    210.0
343    198.0
Name: flipper_length_mm, Length: 333, dtype: float64

In [10]:
penguins.iloc[:3, :]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007

In [12]:
penguins.iloc[60:70, :]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
60,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
68,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
69,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008

In [25]:
penguins.iloc[1:3, 2:6]

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
1            39.5           17.4              186.0       3800.0
2            40.3           18.0              195.0       3250.0

Access columns/rows/conditional selection

In [36]:
males = penguins[penguins['sex'] == 'male']
males.shape

(344, 8)

Conditional selection with numeric

In [38]:
bigbirds = penguins[penguins['body_mass_g'] > 5000]
bigbirds.shape

(61, 8)

In [ ]:
Mulitple conditions

In [42]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]
adelie_biscoe.shape

(44, 8)

Statistics on individual columns

In [23]:
penguins.mean()

bill_length_mm         5.459584
bill_depth_mm          1.974793
flipper_length_mm     14.061714
body_mass_g          801.954536
year                   0.818356
dtype: float64

In [26]:
penguins.std()

bill_length_mm         5.459584
bill_depth_mm          1.974793
flipper_length_mm     14.061714
body_mass_g          801.954536
year                   0.818356
dtype: float64

In [ ]:
statistics on whole data frame by column

In [28]:
penguins.mean(axis = 0)

bill_length_mm         43.921930
bill_depth_mm          17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
year                 2008.029070
dtype: float64

by row (doesn;t make a lot of sense here...)

In [29]:
penguins.iloc[:, 2:6].mean(axis = 1)

0       997.200
1      1010.725
2       875.825
3           NaN
4       924.750
         ...
339    1070.650
340     915.900
341    1008.950
342    1094.950
343    1010.475
Length: 344, dtype: float64

Split, apply, combine
- split involves breaking up a data frame into groups
- apply involves runningsome function for each group
- combine merges the results into a new table

In [43]:
penguins.groupby('sex')

In [46]:
penguins.groupby('sex').mean()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
sex,,,,,
female,42.096970,16.425455,197.363636,3862.272727,2008.042424
male,45.854762,17.891071,204.505952,4545.684524,2008.041667

In [47]:
penguins.groupby('species')['body_mass_g'].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

In [48]:
penguins.groupby(['species', 'island'])['body_mass_g'].mean()

species    island
Adelie     Biscoe       3709.659091
           Dream        3688.392857
           Torgersen    3706.372549
Chinstrap  Dream        3733.088235
Gentoo     Biscoe       5076.016260
Name: body_mass_g, dtype: float64

In [49]:
penguins.groupby(['species', 'island'])['body_mass_g'].aggregate('mean').unstack()

island          Biscoe        Dream    Torgersen
species
Adelie     3709.659091  3688.392857  3706.372549
Chinstrap          NaN  3733.088235          NaN
Gentoo     5076.016260          NaN          NaN

In [50]:
penguins.pivot_table('body_mass_g', index = 'sex', columns = 'species')

species       Adelie    Chinstrap       Gentoo
sex
female   3368.835616  3527.205882  4679.741379
male     4043.493151  3938.970588  5484.836066

Make new column



Plots

- Index plots
- Histograms
- Scatter plots
- Boxplots